<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Examify</title>
</head>
<body>
<div class="container">
    <div class="fhalf">
    </div>
    <div class="shalf">
        <a href="/Slogin">&#8592; Sign in as STUDENT</a><a href="/Tlogin">Sign in as TEACHER &#8594;</a>
    </div>
</div>







</body>
</html>