<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashboard</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://unpkg.com/gijgo@1.9.14/css/gijgo.min.css" rel="stylesheet" />
</head>
<body style="background-color: #abcfda; color: white;">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Examify</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            Menu
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form action="/auth/Slogout" method="post" class="d-flex ms-3" role="logout">
        <button class="btn btn-outline-success" type="submit">Logout</button>
      </form>
    </div>
  </div>
</nav>
<h1 style="text-align:center;">Welcome to Examify {{studentName}}</h1>
<!-- SEARCH SECTION -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <form action="/search-exam" method="GET">
        <input class="form-control mb-3 rounded-pill" type="search" name="examLink" placeholder="Enter the exam link" aria-label="Search">
        <button class="btn btn-primary rounded-pill px-4" type="submit">Search</button>
      </form>
    </div>
  </div>

  {{#if examResults.length}}
  <div class="row justify-content-center mt-4">
    <div class="col-md-8">
      <h3>Your Exam Results</h3>
      <table class="table table-striped table-bordered text-dark">
        <thead>
          <tr>
            <th>Exam Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each examResults}}
          <tr>
            <td>{{this.examTitle}}</td>
            <td>
              {{#if this.passed}}
                <span class="text-success fw-bold">Passed</span>
              {{else}}
                <span class="text-danger fw-bold">Failed</span>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{/if}}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
